* {
  padding: 0;
  margin: 0; }

*,
*::before,
*::after {
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }
  @media only screen and (max-width: 74.1875em) {
    html {
      font-size: 53.3%; } }
  @media only screen and (max-width: 45.9375em) {
    html {
      font-size: 45.5%; } }
  @media only screen and (max-width: 41em) {
    html {
      font-size: 44%; } }
  @media only screen and (max-width: 36.125em) {
    html {
      font-size: 42.5%; } }
  @media only screen and (max-width: 31.4375em) {
    html {
      font-size: 38%; } }

body {
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  line-height: 1.6; }

.header__content__logo {
  font-size: 3.33rem;
  font-weight: 900;
  color: #51C83D;
  margin-top: 2rem; }

.header__content__intro {
  font-family: "Ubuntu", sans-serif;
  align-content: space-around;
  padding-right: 5vw;
  grid-column: 1/-1; }
  @media only screen and (max-width: 84.75em) {
    .header__content__intro {
      padding-right: 0; } }
  .header__content__intro__heading {
    font-weight: 300;
    font-size: 1.8rem; }
    .header__content__intro__heading__sub {
      font-size: 4rem;
      font-weight: 600;
      line-height: 5.4rem;
      margin: 1.2rem 0; }
      @media only screen and (max-width: 74.1875em) {
        .header__content__intro__heading__sub {
          font-size: 3.5rem; } }
      @media only screen and (max-width: 41em) {
        .header__content__intro__heading__sub {
          font-size: 3rem;
          font-weight: 500;
          line-height: 4.5rem;
          margin: 1.2rem 0; } }
      @media only screen and (max-width: 36.125em) {
        .header__content__intro__heading__sub {
          font-size: 3rem;
          font-weight: 500;
          line-height: 4.5rem;
          margin: 1.2rem 0; } }
  .header__content__intro__anytime {
    font-weight: 300;
    font-size: 1.8rem;
    margin-bottom: 7rem; }
  .header__content__intro__btn {
    background-color: #51C83D;
    padding: 2rem 3.3rem;
    border-radius: .4rem;
    color: white;
    font-weight: 500;
    align-self: end;
    cursor: pointer;
    font-size: 1.44rem;
    transition: all .3s; }
  .header__content__intro__btn:hover {
    transform: translateY(-5rem) scale(1.2);
    -webkit-box-shadow: 2px 5px 31px 6px #51C83D;
    box-shadow: 2px 5px 31px 6px #51C83D; }
  .header__content__intro__btn::after {
    content: "\2192";
    color: white;
    font-size: 2rem;
    text-align: center;
    padding-left: 1rem;
    padding-top: .4rem; }

.header__nav {
  display: grid;
  margin-left: 9rem;
  margin-top: 3rem;
  grid-template-columns: repeat(auto-fit, 10rem);
  grid-gap: 1rem;
  list-style: none;
  justify-items: center; }
  @media only screen and (max-width: 84.75em) {
    .header__nav {
      margin-left: 5rem; } }
  @media only screen and (max-width: 31.4375em) {
    .header__nav {
      display: none; } }
  .header__nav__item__search {
    fill: white;
    width: 2rem;
    height: 3.4rem; }
  .header__nav__link:link, .header__nav__link:visited {
    color: white;
    text-decoration: none;
    font-size: 1.7rem;
    font-weight: 400; }
  .header__nav__link:hover, .header__nav__link:active {
    border-bottom: 2px solid black; }

@media only screen and (max-width: 36.125em) {
  .features__item:nth-child(3) {
    grid-column: 1/-1; } }

.features__item {
  background-color: white;
  border: 3px solid #eee;
  border-radius: .5rem;
  padding: 2rem 7rem; }
  @media only screen and (max-width: 84.75em) {
    .features__item {
      padding: 2rem 4rem; } }
  @media only screen and (max-width: 45.9375em) {
    .features__item {
      padding: 2rem 2em; } }
  @media only screen and (max-width: 36.125em) {
    .features__item {
      padding: 2rem 2.3em; } }
  .features__item__heading {
    font-size: 1.5rem;
    font-weight: 700;
    margin-top: .5rem;
    margin-bottom: 1rem; }
  .features__item__photo {
    width: 8rem;
    height: 8rem; }
  .features__item__sub {
    font-weight: 400;
    font-size: 1.4rem;
    color: #252323;
    margin-bottom: 3.5rem; }

.menu {
  text-align: center; }
  .menu__heading {
    font-size: 4rem;
    font-weight: 700;
    text-align: center;
    line-height: 5rem; }
  .menu__sub {
    font-weight: 300;
    text-align: center;
    font-size: 1.6rem;
    color: black;
    margin-bottom: 5rem; }
  .menu__row__item:hover {
    transform: translateY(-1rem) scale(1.2);
    z-index: 1000; }
  .menu__row__item {
    transition: all .3s; }
    .menu__row__item__details {
      display: grid;
      justify-items: space-between;
      align-items: center;
      background-color: #51C83D;
      -webkit-box-shadow: 2px 5px 31px -6px #51C83D;
      box-shadow: 2px 5px 31px -6px #51C83D;
      margin-top: -2rem;
      padding-top: 2.3rem;
      color: white;
      border-bottom-left-radius: 1rem;
      border-bottom-right-radius: 1rem;
      padding-left: 3rem;
      padding-bottom: 1.4rem;
      grid-template-columns: repeat(2, 1fr); }
      @media only screen and (max-width: 84.75em) {
        .menu__row__item__details {
          padding-left: 1.5rem; } }
    .menu__row__item__photo {
      width: 100%;
      border-top-left-radius: 2rem;
      border-top-right-radius: 2rem;
      border-bottom-right-radius: 2.22rem;
      border-bottom-left-radius: 2.22rem;
      height: 20rem;
      object-fit: cover; }
    .menu__row__item__name {
      text-align: start;
      grid-column: 1/-1;
      font-size: 1.5rem;
      font-weight: 500; }
    .menu__row__item__rating {
      justify-self: start;
      font-size: 1.4rem;
      font-weight: 400; }
    .menu__row__item__amount {
      font-size: 1.4rem; }
    .menu__row__item__rating::before {
      content: "\2606";
      color: yellow;
      font-weight: 400;
      font-size: 2rem; }

.discover-center {
  margin: 8rem auto;
  background-color: white;
  opacity: .8;
  display: grid;
  justify-items: center;
  align-content: center;
  height: 65%;
  padding-left: 11.3vw;
  padding-right: 11.3vw;
  padding-bottom: 4rem;
  padding-top: 4.4rem;
  border-top-left-radius: 10rem;
  border-bottom-right-radius: 10rem;
  max-width: 54%; }
  @media only screen and (max-width: 74.1875em) {
    .discover-center {
      padding-left: 5vw;
      padding-right: 5vw; } }
  .discover-center__heading {
    font-size: 3.3rem;
    text-align: center;
    font-weight: 700;
    line-height: 4.5rem;
    align-self: start;
    margin-bottom: 4rem; }
  .discover-center__image {
    cursor: pointer;
    display: grid;
    margin-bottom: 2rem;
    grid-template-columns: repeat(auto-fit, minmax(8rem, 1fr)); }
  .discover-center__item {
    text-align: center; }
  .discover-center__photo {
    width: 90%;
    object-fit: contain;
    height: 90%; }

.newsletter__form {
  border: 2px solid #51C83D;
  padding: .9rem .9rem;
  border-radius: 4rem;
  align-self: center;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-row: 1/-1; }
  @media only screen and (max-width: 36.125em) {
    .newsletter__form {
      grid-column: 1/-1;
      font-size: 2.4rem;
      grid-row: 3/4;
      width: 100%;
      justify-self: center;
      margin: 1.5rem 1rem; } }

.newsletter__email {
  border: none;
  grid-column: 1/span 3; }

.newsletter__btn {
  background-color: #51C83D;
  color: white;
  font-size: 1.4rem;
  border-radius: 2rem;
  border: none;
  font-weight: 400;
  padding: .8rem; }

.newsletter__sub {
  grid-row: 2/3;
  font-weight: 300;
  font-size: 1.6rem;
  color: black; }
  @media only screen and (max-width: 36.125em) {
    .newsletter__sub {
      text-align: center;
      grid-column: 1/-1;
      grid-row: 2/2;
      justify-self: center;
      margin: .8rem 1rem; } }

.newsletter__heading {
  font-size: 3.3rem;
  font-weight: 700;
  line-height: 4.5rem; }
  @media only screen and (max-width: 36.125em) {
    .newsletter__heading {
      grid-column: 1/-1;
      text-align: center;
      font-size: 1rem;
      grid-row: 1/2;
      justify-self: center; } }
  @media only screen and (max-width: 74.1875em) {
    .newsletter__heading {
      font-size: 3rem; } }

.footer__sub {
  font-weight: 400;
  font-size: 1.3rem;
  width: 45%;
  padding-top: 2rem; }

.footer__nav {
  list-style: none; }
  .footer__nav__item {
    font-size: 1.4rem;
    padding: 1.4rem 0;
    font-weight: 300; }

.footer__copyright {
  font-size: 1.2rem;
  font-weight: 400;
  grid-row: 2/3;
  display: grid;
  grid-column: 1/-1;
  padding-bottom: 2rem; }

.footer__copyright::before {
  content: "";
  padding-bottom: 3rem;
  border: 0.12rem solid #51C83D;
  border-bottom: none;
  border-left: none;
  border-right: none;
  width: 100%; }

.container {
  display: grid;
  grid-template-columns: [full-start] minmax(1rem, 15rem) [center-start] repeat(8, [col-start] 1fr [col-end]) [center-end] minmax(1rem, 15rem) [full-end];
  grid-template-rows: 95vh min-content min-content min-content min-content min-content; }
  @media only screen and (max-width: 86.8125em) {
    .container {
      grid-template-columns: [full-start] minmax(1rem, 10rem) [center-start] repeat(8, [col-start] 1fr [col-end]) [center-end] minmax(1rem, 10rem) [full-end]; } }
  @media only screen and (max-width: 74.1875em) {
    .container {
      grid-template-columns: [full-start] minmax(1rem, 6rem) [center-start] repeat(8, [col-start] 1fr [col-end]) [center-end] minmax(1rem, 6rem) [full-end];
      grid-template-rows: 85vh min-content min-content min-content min-content min-content; } }
  @media only screen and (max-width: 41em) {
    .container {
      grid-template-columns: [full-start] minmax(1rem, 6rem) [center-start] repeat(8, [col-start] 1fr [col-end]) [center-end] minmax(1rem, 6rem) [full-end];
      grid-template-rows: 65vh min-content min-content min-content min-content min-content; } }
  @media only screen and (max-width: 36.125em) {
    .container {
      grid-template-columns: [full-start] minmax(1rem, 3rem) [center-start] repeat(8, [col-start] 1fr [col-end]) [center-end] minmax(1rem, 3rem) [full-end]; } }
  @media only screen and (max-width: 31.4375em) {
    .container {
      grid-template-columns: [full-start] minmax(1rem, 0) [center-start] repeat(8, [col-start] 1fr [col-end]) [center-end] minmax(1rem, 0) [full-end];
      grid-template-rows: 70vh min-content min-content min-content min-content min-content; } }

.header__content {
  grid-column: center-start/col-start 4;
  display: grid; }
  @media only screen and (max-width: 31.4375em) {
    .header__content {
      grid-column: full-start/col-start 6;
      background-image: linear-gradient(to bottom, #403b4a, rgba(81, 200, 61, 0.75)), url(../img/img-2.jpg);
      background-position: center;
      background-size: cover;
      clip-path: polygon(0 0, 100% 0, 100% 81%, 0 100%);
      clip-path: polygon(0 0, 100% 0, 100% 89%, 0 100%);
      background-repeat: no-repeat;
      padding: 3rem;
      color: white; } }

.header__navigation {
  grid-column: col-start 5/ full-end;
  background-image: url(../img/img-2.jpg);
  background-size: cover;
  background-position: left;
  clip-path: polygon(0 0, 100% 0%, 100% 100%, 15% 100%); }
  @media only screen and (max-width: 31.4375em) {
    .header__navigation {
      grid-column: col-start 6/ full-end;
      background-image: url(../img/img-4.jpg);
      clip-path: polygon(0px 0px, 100% 0px, 98.41% 80.47%, -39px 91.12%); } }

.features {
  margin: 13rem 0;
  grid-column: center-start/col-end 8;
  display: grid;
  grid-gap: 3rem;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  text-align: center; }
  @media only screen and (max-width: 74.1875em) {
    .features {
      grid-gap: 2rem;
      grid-template-columns: repeat(auto-fit, minmax(18rem, 1fr)); } }
  @media only screen and (max-width: 36.125em) {
    .features {
      grid-gap: 2rem;
      grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr)); } }

.menu {
  margin: 2rem 0;
  grid-column: center-start/col-end 8; }
  .menu__row {
    display: grid;
    grid-gap: 3rem;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr)); }
    @media only screen and (max-width: 84.75em) {
      .menu__row {
        grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr)); } }
    @media only screen and (max-width: 45.9375em) {
      .menu__row {
        grid-template-columns: repeat(auto-fit, minmax(29rem, 1fr)); } }
    @media only screen and (max-width: 41em) {
      .menu__row {
        grid-template-columns: repeat(auto-fit, minmax(27rem, 1fr)); } }

.discover {
  grid-column: 1/-1;
  margin: 10rem 0;
  background-image: url(../img/img-4.jpg);
  background-size: cover;
  border-bottom-right-radius: 9rem;
  background-repeat: no-repeat;
  background-position: top; }

.newsletter {
  margin-top: 1.5rem;
  grid-column: center-start/col-end 8;
  background-color: white;
  border-top-left-radius: 5rem;
  border-bottom-right-radius: 5rem;
  -webkit-box-shadow: 8px 9px 27px 0px rgba(50, 50, 50, 0.22);
  -moz-box-shadow: 8px 9px 27px 0px rgba(50, 50, 50, 0.22);
  box-shadow: 8px 9px 27px 0px rgba(50, 50, 50, 0.22);
  padding: 2.8rem 5rem;
  display: grid;
  grid-column-gap: 6rem;
  grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
  grid-template-rows: repeat(2, min-content); }
  @media only screen and (max-width: 74.1875em) {
    .newsletter {
      padding: 2.8rem 3rem; } }
  @media only screen and (max-width: 36.125em) {
    .newsletter {
      padding: 2.8rem 1.3rem; } }
  @media only screen and (max-width: 36.125em) {
    .newsletter {
      grid-template-rows: repeat(3, min-content); } }

.footer {
  margin-top: 7rem;
  grid-column: center-start/col-end 8;
  display: grid;
  grid-gap: 5rem;
  grid-template-columns: 40% repeat(3, 1fr); }
  @media only screen and (max-width: 31.4375em) {
    .footer {
      display: none;
      clip-path: polygon(11% 0, 100% 0, 100% 100%, 0% 100%); } }
